/* body {
  background-image: url('https://image1.masterfile.com/getImage/ODQ2LTAyNzk2MDgwZW4uMDAwMDAwMDA=AP7J8X/846-02796080en_Masterfile.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.9;
  overflow-y: scroll;
} */
#heading {
  text-align: center;
  color: black;
  margin: 20px 0px;
}
#about {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 35px auto;
  border: 1px solid gray;
  border-radius: 5px;
}

#about-para p {
  color: black;
  font-size: 20px;
  margin: 30px 20px;
  text-align: center;
}
