body {
  background-image: url('https://image1.masterfile.com/getImage/ODQ2LTAyNzk2MDgwZW4uMDAwMDAwMDA=AP7J8X/846-02796080en_Masterfile.jpg');
  background-color: #cccccc;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
  opacity: 0.9;
}
#heading {
  text-align: center;
  color: white;
  margin: 20px 0px;
}
#about {
  display: flex;
  flex-direction: column;
}
#about p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 30px 60px;
  text-justify: newspaper;
}
