body {
  /* background-image: url('https://image1.masterfile.com/getImage/ODQ2LTAyNzk2MDgwZW4uMDAwMDAwMDA=AP7J8X/846-02796080en_Masterfile.jpg'); */
  background-color: gainsboro;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  opacity: 0.9;
  overflow-y: scroll;
}
#heading {
  text-align: center;
  color: white;
  margin: 20px 0px;
}
#about {
  display: flex;
  flex-direction: column;
}
#about-para {
  background-color: red;
  width: 80%;
  margin: 25px auto;
}
#about-para p {
  color: rgb(255, 255, 255);
  font-size: 20px;
  margin: 30px 60px;
  text-justify: newspaper;
}
