/* body {
    background-image: url('https://image1.masterfile.com/getImage/ODQ2LTAyNzk2MDgwZW4uMDAwMDAwMDA=AP7J8X/846-02796080en_Masterfile.jpg');
    background-color: #cccccc;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    opacity: 0.9;
  } */

#feature-section h2 {
  text-align: center;
  color: rgb(58, 58, 58);
  margin: 20px 0px;
}

.features {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto;
  background-color: var(--theme-color);
  border: 1px solid gray;
  border-radius: 5px;
  border-radius: 15px;
  box-shadow: 4px 5px 15px #8888;
}
.feature-img {
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 300px;
  justify-content: space-evenly;
  align-items: center;
}
.feature-img img {
  height: 150px;
}
.features p {
  text-align: center;
  width: 50%;
  padding: 30px 30px;
}
@media screen and (max-width: 600px) {
  .features {
    flex-direction: column;
    border: 2px soild grey;
  }
  .feature-img {
    height: 200px;
    width: 300px;
    justify-content: center;
  }
  .feature-img img {
    height: 100px;
    padding: 20px 0px;
  }
  .features p {
    width: 80%;
  }
}
