#heading {
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#heading img {
  height: auto;
  width: 100%;
  object-fit: cover;
}
@media screen and (max-width: 600px) {
  #heading {
    /* height: 250px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #heading img {
    margin: 1rem;

    border-radius: 10px;
  }
  #cat-section {
    background: rgb(165, 165, 165);
    display: flex;
    flex-direction: column;
    /* width: 150%; */
    justify-content: space-evenly;
    align-items: center;
  }
  #catergory {
    /* height: 150px; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
  }
  .cat-box {
    background-color: rgb(196, 196, 196);
    height: 50px;
    width: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 7px;
    margin: 10px;
    border-radius: 10px;
  }
  .cat-box img {
    height: auto;
    width: 100%;
  }
  #apple-logo {
    width: 80%;
  }
  #best-seller,
  #cat-section h2 {
    text-align: center;
    color: rgb(58, 58, 58);
  }
  #best-seller {
    background-color: lightblue;
  }
  #best-phone-grp {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .best-phone {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 200px;
    width: 200px;
    flex-grow: 2;
    background: white;
    border: 1px solid black;
  }
  .top-seller-img {
    height: auto;
    width: 100px;
    margin: auto;
  }
  .best-phone img {
    width: 100%;
    height: auto;
  }
}
