* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}
body {
  margin-top: 60px;
}
#navbar {
  background-color: #1cb7ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  position: fixed;
  top: 0px;
  width: 100%;
}
#icon,
.material-icons.md-48 {
  display: none;
}

#close {
  display: none;
  color: black;
}

#nav-item-group {
  display: flex;
  align-items: center;
}
.nav-item {
  list-style: none;
  padding: 10px 10px;
  font-size: 18px;
  margin: 0 5px;
}
.nav-item a {
  text-decoration: none;
  font-style: normal;
  color: black;
}
.nav-item:hover {
  background-color: rgb(188, 224, 255);
  border-radius: 5px;
}
.active {
  color: green;
}
#c-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
}
#c-name img {
  width: 30px;
}

#btn-login {
  background-color: rgb(209, 209, 209);
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin-right: 3rem;
}
#footer p {
  display: block;
  text-align: center;
  padding: 10px 0;
  background-color: rgb(50, 204, 255);
  color: white;
  font-size: 17px;
  font-weight: bold;
}
h2 {
  color: rgb(58, 58, 58);
}
@media screen and (max-width: 600px) {
  #nav {
    position: fixed;
    top: 0px;
    left: -255px;
    width: 250px;
    height: 100%;
    background: white;
    border: 1px solid gray;
    border-radius: 4px;
    transition: all 0.5s ease;
  }
  #nav-item-group {
    display: block;
  }
  #close {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-item a {
    padding: 10px 0;
    padding-right: 155px;
  }
  .material-icons.md-48 {
    display: block;
    margin-left: 15px;
    font-size: 45px;
    color: #00174e;
  }

  #footer p {
    font-size: 10px;
  }
}
