* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}
body {
  margin-top: 60px;
}
#navbar {
  background-color: #00aeff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  position: fixed;
  top: 0px;
  width: 100%;
}
#icon,
.material-icons.md-48 {
  display: none;
}

#close {
  display: none;
}

#nav-item-group {
  display: flex;
  align-items: center;
}
.nav-item {
  list-style: none;
  padding: 10px 10px;
  font-size: 18px;
  margin: 0 3px;
  cursor: pointer;
  /* background-color: rgb(101, 228, 228);
  border-radius: 5px; */
}
.nav-item a {
  text-decoration: none;
}
.nav-item:hover {
  background-color: rgb(188, 224, 255);
  border-radius: 5px;
  text-decoration: underline;
}
.nav-item:active {
  background-color: rgb(188, 224, 255);
  border-radius: 5px;
  text-decoration: underline;
}
.active {
  color: white;
  text-decoration: underline;
}
#c-name {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
}
#c-name img {
  width: 30px;
}

#btn-login {
  background-color: rgb(209, 209, 209);
  height: 30px;
  width: 100px;
  border-radius: 5px;
  margin-right: 2rem;
}
#footer p {
  display: block;
  text-align: center;
  padding: 10px 0;
  background-color: #00aeff;
  color: white;
  font-size: 17px;
  font-weight: bold;
}
h2 {
  color: rgb(58, 58, 58);
}
@media screen and (max-width: 600px) {
  #nav {
    position: fixed;
    top: 0px;
    left: -255px;
    width: 250px;
    height: 100%;
    background: white;
    border: 1px solid gray;
    border-radius: 4px;
    transition: all 0.5s ease;
  }
  .active {
    color: rgb(0, 156, 196);
  }
  #c-name {
    margin: 0;
  }
  #nav-item-group {
    display: block;
  }
  #close {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: red;
  }
  .nav-item a {
    padding: 10px 0;
    padding-right: 155px;
  }
  #icon,
  .material-icons.md-48 {
    display: block;
    margin-left: 10px;
    font-size: 45px;
    color: #00174e;
    cursor: pointer;
  }
  #btn-login {
    margin-right: 1rem;
  }
  #footer p {
    font-size: 10px;
  }
}
