* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}
#navbar {
  background-color: #0289ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
.material-icons.md-48 {
  display: none;
}

#close {
  display: none;
  color: white;
}

#nav-item-group {
  display: flex;
  align-items: center;
}
.nav-item {
  list-style: none;
  padding: 10px 15px;
  font-size: 20px;
}
.nav-item a {
  text-decoration: none;
  color: white;
}
.nav-item:hover {
  background-color: rgb(188, 224, 255);
}
.active {
  background-color: rgb(86, 230, 255);
}
#c-name {
  display: none;
}
#btn-login {
  background-color: rgb(176, 177, 223);
  height: 30px;
  width: 100px;
  margin-right: 15px;
  border-radius: 5px;
}
#footer p {
  display: block;
  text-align: center;
  padding: 10px 0;
  background-color: rgb(50, 204, 255);
  color: white;
  font-size: 20px;
  font-weight: bold;
}
@media screen and (max-width: 600px) {
  #nav {
    position: fixed;
    top: 0px;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all 0.5s ease;
  }
  #nav-item-group {
    display: block;
  }
  #close {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .nav-item a {
    padding-right: 150px;
  }
  .material-icons.md-48 {
    display: block;
    font-size: 48px;
    margin-left: 15px;
  }
  #c-name {
    display: block;
  }
  #footer p {
    font-size: 10px;
  }
}
